@model MenufyServer.Data.Menu

@{
    ViewBag.Title = "title";
}

@foreach (var dailyMenu in Model.DailyMenus)
{
    foreach (var meal in dailyMenu.Meals)
    {
        <div class="col-md-4">
            <div class="card recipe-card">
                <img class="card-img-top" width="318" src="@meal.Recipe.PhotoUrl" alt="@meal.Recipe.Title">
                <div class="card-block">
                    <h4 class="card-title">@meal.Recipe.Type.ToString()</h4>
                    <p class="card-text">@meal.Recipe.Title</p>
                    @Html.ActionLink("View", "Details", "Recipe", new { id = meal.Recipe.Id}, new { @class = "btn btn-primary" })
                </div>
            </div>            
        </div>
    }
}
